 <style>
        /*        초기화*/
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Nanum Gothic', sans-serif;
            background-color: darkslateblue;
        }

        /*        메인블럭*/
        #main_rwap {
            width: 938px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #DDD;
            border-radius: 5px;
            box-shadow: 0 5px 5px #AAA;
            margin-left: auto;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-right: auto;
            
        }

        #header {
            padding: 20px;
        }

        #header>h1 {
            font-family: Sunflower;
            margin-bottom: 5px;
        }

        #header>h4 {
            font-weight: normal;
        }

        /*        네비게이션*/
        #nav {
            height: 35px;
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
            overflow: hidden;
        }

        #menu>ul {
            list-style: none;
        }

        #menu>ul>li {
            height: 35px;
            line-height: 35px;
            float: left;
        }
/*        메뉴링크*/
        #menu>ul>li>a{
            display: block;
            line-height: 35px;
            text-decoration: none;
            padding: 0 20px;
        }
        #menu>ul>li:hover{
            background-color: firebrick;
            
        }
        #menu>ul>li>a:hover{
            background-color: forestgreen;
            color: aqua;
        }

        #search {
            float: right;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
        
        }

        #search>input[type=text] {
             margin: 0;
            height: 20px;
            border-radius: 5px 0 0 5px;
            margin: 0;

        }

        #search>input[type=button] {
            height: 25px;
            border-radius: 0 5px 5px 0;
            text-align: right;
            text-decoration-color: lightgray;
            margin-left: -5px;
            cursor: pointer;
            line-height: 3px;
            
            padding: 5px;

        }

        #contents {
            overflow: hidden;
            padding: 5px;
        }

        #content {
            float: left;
            width: 700px;
            /*background-color: aqua;*/
        }

        #aside {
            float: right;
            width: 188px;
            /*background-color: blueviolet;*/
            padding: 20px;
        }

        #aside>ul {
            list-style: none;
            margin-left: 10px;
            margin-bottom: 30px;
        }

        #aside>ul>li {
            height: 30px;
            line-height: 30px;
        }

        #content>article {
            margin: 10px 0;
            border-bottom: 1px solid #DDD;
        }

        #content>article>.img {
            width: 300px;
            margin-left: 5px;
            margin-bottom: 15px;
        }

        #content>article>.date {
            display: block;
            padding: 0px 5px;
            margin-bottom: 10px;
        }

        #content>article>.title {
            padding: 20px 5px;
        }

        #content>article>p {
            padding: 5px 5px;
            /*            줄간격*/
            line-height: 160%;
            font-size: 14px;
        }
    </style>